<!DOCTYPE html>
<html>
  <head>
    <title>Component Annotations Demo</title>
  </head>
  <body>
    <comp-demo [myname]='will not work'>
      Loading ...
    </comp-demo>

    <script src="/lib/system.src.js"></script>
    <script src="/lib/angular2.dev.js"></script>
    <script src="/lib/http.dev.js"></script>
    <script>
      System.config({
        //packages defines our app package
        packages: {'compDemo': {defaultExtension: 'js'}},
      });
      
      System.import('compDemo/bootstrap')
        .catch(console.error.bind(console));
    </script>
    
  </body>

</html>
